{% extends 'anon.html.twig' %}

{% block inner %}

{{ form_start(form) }}

<p>{{ 'password_reset.explain'|trans }}</p>

<p>

<div class="input-group input-group-lg">
<span class="input-group-addon addon-info"><i class="fa fa-envelope-o"></i></span>
{{ form_widget(form.email, {'attr': {'placeholder': 'email'}}) }}
</div>
{{ form_errors(form.email) }}

</p>

<p>
{{ form_widget(form.submit, {'label': 'password_reset.submit_btn', 'attr': {'class': 'btn btn-default btn-lg'}}) }}
</p>

{{ form_end(form) }}

{% endblock inner %}

