{%- macro cancel(location) -%}
<a href="{{- location -}}" class="btn btn-default btn-lg">{{- 'btn.cancel'|trans -}}</a>&nbsp;
{%- endmacro cancel -%}

{%- macro edit_link(location) -%}
    <a href="{{- location -}}" class="btn btn-info">
    <i class="fa fa-pencil"></i> {{ 'btn.edit'|trans -}}
    </a>&nbsp;
{%- endmacro edit_link -%}

{%- macro del_link(location) -%}
    <a href="{{- location -}}" class="btn btn-danger">
    <i class="fa fa-times"></i> {{ 'btn.delete'|trans -}}
    </a>&nbsp;
{%- endmacro del_link -%}

{% macro add(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.add',  'fa': 'plus', 'attr': {'class': 'btn-success btn-lg'}}) -}}&nbsp;
{%- endmacro add %}

{% macro info(form_submit, label) -%}
{{- form_widget(form_submit, {'label': label, 'attr': {'class': 'btn-info btn-lg'}}) -}}&nbsp;
{%- endmacro info %}

{% macro edit(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.edit', 'fa': 'pencil', 'attr': {'class': 'btn-info btn-lg'}}) -}}&nbsp;
{%- endmacro edit %}

{% macro del(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.delete', 'fa': 'times', 'attr': {'class': 'btn-danger btn-lg'}}) -}}&nbsp;
{%- endmacro del %}

{% macro show(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.show', 'attr': {'class': 'btn-default btn-lg btn-block'}}) -}}
{%- endmacro show %}

{% macro send(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.send', 'attr': {'class': 'btn-default btn-lg'}}) -}}
{%- endmacro send %}

{% macro default(form_submit, label) -%}
{{- form_widget(form_submit, {'label': label, 'attr': {'class': 'btn-default btn-lg'}}) -}}&nbsp;
{%- endmacro default %}

{% macro approve_md(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.approve', 'fa': 'thumbs-o-up', 'attr': {'class': 'btn-warning'}}) -}}&nbsp;
{%- endmacro approve_md %}

{% macro buttonform_export(form) -%}
{{- form_start(form) -}}
{{- form_widget(form.submit, {'attr': {'class': 'btn-default btn-lg'}}) -}}&nbsp;
{{- form_end(form) -}}
{%- endmacro buttonform_export %}

{% macro buttonform(form, label, class) -%}
    {{- form_start(form, {'attr': {'style' : 'display: inline;'}}) -}}
    {{- form_widget(form.submit, {'label': label, 'attr': {'class': class, 'style': 'display: inline;'}}) -}}&nbsp;
    {{- form_end(form) -}}
{%- endmacro buttonform %}