{% macro cancel(location) -%}
<a href="{{- location -}}" class="btn btn-default btn-lg">{{- 'btn.cancel'|trans -}}</a>&nbsp;
{%- endmacro cancel %}

{% macro add(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.add', 'attr': {'class': 'btn-success btn-lg'}}) -}}&nbsp;
{%- endmacro add %}

{% macro info(form_submit, label) -%}
{{- form_widget(form_submit, {'label': label, 'attr': {'class': 'btn-info btn-lg'}}) -}}&nbsp;
{%- endmacro info %}

{% macro edit(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.edit', 'attr': {'class': 'btn-info btn-lg'}}) -}}&nbsp;
{%- endmacro edit %}

{% macro del(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.delete', 'attr': {'class': 'btn-danger btn-lg'}}) -}}&nbsp;
{%- endmacro del %}

{% macro show(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.show', 'attr': {'class': 'btn-default btn-lg btn-block'}}) -}}
{%- endmacro show %}

{% macro send(form_submit) -%}
{{- form_widget(form_submit, {'label': 'btn.send', 'attr': {'class': 'btn-default btn-lg'}}) -}}
{%- endmacro send %}

{% macro default(form_submit, label) -%}
{{- form_widget(form_submit, {'label': label, 'attr': {'class': 'btn-default btn-lg'}}) -}}
{%- endmacro default %}

{% macro buttonform(form) -%} {# used in "export" #}
{{- form_start(form) -}}
{{- form_widget(form.submit, {'attr': {'class': 'btn-default btn-lg'}}) -}}&nbsp;
{{- form_end(form) -}}
{%- endmacro %}
