
{% macro nav_dropdown(label, fa) %}
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
<span class="fa fa-{{ fa|default('question') }}"></span> {{ label|default('--label--') }}
<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
{% endmacro %}

{% macro li(route, prop, active_route, schema) %}
{% if prop['menu'] is defined %}
<li{% if active_route == route %} class="active"{% endif %}>
<a href="{{ path(route, {'schema': schema }) }}">
<i class="fa fa-{{ prop['fa']|default('question') }}"></i> {{ ('title.'~route)|trans }}
</a></li>
{% endif %}
{% endmacro %}
