{%- macro form_start(form) -%}
	{%- import _self as p -%}
	{{- p.post() -}}
	{{- form_start(form) -}}
	{{- form_errors(form) -}}
{%- endmacro form_start -%}

{%- macro form_filter_start(form) -%}
	{%- import _self as p -%}
	{{- p.filter() -}}
	{{- form_start(form) -}}
	{{- form_errors(form) -}}
{%- endmacro form_filter_start -%}

{%- macro form_end(form) -%}
	{%- import _self as p -%}
	{{- form_end(form) -}}
	{{- p.end() -}}
{%- endmacro form_end -%}

{%- macro csv() -%}
	<a href="#" class="csv"><i class="fa fa-file"></i>&nbsp;{{- 'link.csv'|trans -}}</a>
{%- endmacro csv -%}

{%- macro filter_toggle_btn() -%}
	<div class="pull-right">
	&nbsp;
	<button class="btn btn-default hidden-xs" 
	title="{{- 'input.filter'|trans -}}" 
	data-toggle="collapse" 
	data-target="#filter">
	<i class="fa fa-caret-down"></i>
	<span class="hidden-xs hidden-sm">&nbsp;{{- 'filter'|trans -}}
	</span></button>
	</div>
{%- endmacro filter_toggle_btn -%}

{%- macro filter_indicator() -%}
	&nbsp;<small>{{- 'filtered'|trans -}}</small>
{%- endmacro filter_indicator -%}

{%- macro filter() -%}
	<div class="panel panel-info" id="filter">
	<div class="panel-heading">
{%- endmacro filter -%}

{% macro post() -%}
	<div class="panel panel-info">
	<div class="panel-heading">
{%- endmacro post %}

{%- macro edit() -%}
	<div class="panel panel-info">
	<div class="panel-heading">
{%- endmacro edit -%}

{% macro add() -%}
	<div class="panel panel-success">
	<div class="panel-heading">
{%- endmacro add %}

{%- macro del() -%}
	<div class="panel panel-danger">
	<div class="panel-heading">
{%- endmacro del -%}

{%- macro mail() -%}
	<div class="panel panel-success">
	<div class="panel-heading">
{%- endmacro mail -%}

{%- macro help() -%}
	<div class="panel panel-warning">
	<div class="panel-heading">
{%- endmacro help -%}

{%- macro default() -%}
	<div class="panel panel-default">
	<div class="panel-heading">
{%- endmacro default -%}

{%- macro warning() -%}
	<div class="panel panel-default">
	<div class="panel-heading">
{%- endmacro warning -%}

{%- macro body() -%}
	</div>
	<div class="panel-body">
{%- endmacro body -%}

{%- macro end() -%}
	</div>
	</div>
{%- endmacro -%}
