{% macro start() -%}
    <div class="panel panel-primary printview">
    <div class="table-responsive">
    <table class="table table-striped 
    table-hover table-bordered footable" 
    data-sort="false">
{%- endmacro start %}

{% macro head(cols, route, all_params, default_sort_column) -%}
    {%- set sort = all_params.s.col ?? default_sort_column|default(null) -%}
    <thead>
    <tr>
    {%- for column, data in cols -%}
    <th{%- if data.hide is defined %} data-hide="{{- data.hide -}}"{%- endif -%}>
    {%- if data.sortable is defined -%}
    {%- set order = sort == column ? (all_params.s.order is defined and all_params.s.order == 'desc' ? 'asc' : 'desc') : (data.order is defined ? data.order : 'asc') -%} 
    <a href="{{- path(route, all_params|merge({'s':{'col': column, 'order': order}, 'p':{'start': 1, 'limit': all_params.p.limit ?? null}})) -}}">
    {%- endif -%}
    {{- data['lbl']|trans({'lbl_var': data.lbl_var|default('')}) -}}
    {%- if data.sortable is defined %} <i class="fa fa-sort
    {%- if column == sort -%}-{%- if order == 'desc' -%}asc{%- else -%}desc{%- endif -%}
    {%- endif -%}"></a>    
    {%- endif -%}
    </th>
    {%- endfor -%}    
    </tr>
    </thead>
{%- endmacro head %}   

{% macro body(rows, cols) -%}
    <tbody>
    {%- for row in rows -%}
    <tr{%- if row.class is defined -%} class="{{- row.class -}}"{%- endif -%}>
    {%- for c, cd in cols -%}
    <td>
    {%- if c.route is defined -%}
    <a href="{{ path(cd.route, row[c].route_params|merge(c.route_params|default({}))) }}">
    {{- row[c] ?? '' -}}
    </a>
    {%- else -%}
    {{- row[c] ?? '' -}}
    {%- endif -%}
    </td>
    {%- endfor -%}
    </tr>
    {%- endfor -%}
    </tbody>
{%- endmacro body %}

{% macro end() -%}  
    </table>
    </div>
    </div>
{%- endmacro end %}
