{% extends 'anon.html.twig' %}

{% import 'macro/button.html.twig' as b %}
{% import 'macro/panel.html.twig' as p %}

{% block fa -%}key{%- endblock %}
{% block heading -%}{{- 'password_reset.title'|trans -}}{%- endblock heading %}

{% block inner -%}

<p>{{- 'password_reset.explain'|trans -}}</p>

{{- p.form_start(form) -}}
{{- form_row(form.email, {'label': 'label.your_email'}) -}}
{{- b.default(form.submit, 'password_reset.submit_btn') -}}
{{- p.form_end(form) -}}

{%- endblock inner %}

{#
<p>

<div class="input-group input-group-lg">
<span class="input-group-addon addon-info"><i class="fa fa-envelope-o"></i></span>
{{ form_widget(form.email, {'attr': {'placeholder': 'email'}}) }}
</div>
{{ form_errors(form.email) }}

</p>

<p>
{{ form_widget(form.submit, {'label': 'password_reset.submit_btn', 'attr': {'class': 'btn btn-default btn-lg'}}) }}
</p>
#}