{% extends 'anon.html.twig' %}

{% import 'macro/asset.html.twig' as a %}

{% block summernote_css %}{% endblock %}

{% form_theme form _self %}

{% block checkbox_radio_label %}
    {# Do not display the label if widget is not defined in order to prevent double label rendering #}
    {% if widget is defined %}
        {% if required %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
        {% endif %}
        {% if parent_label_class is defined %}
            {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
        {% endif %}
        {% if label is not same as(false) and label is empty %}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {% endif %}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{- widget|raw }} {{ label is not same as(false) ? (translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw) -}}
        </label>
    {% endif %}
{% endblock checkbox_radio_label %}


{% block inner %}

{{ config('registration_top_text', schema) }}

{{ form_start(form) }}

{{ form_row(form.first_name, {'label': 'first_name', 'attr': {'class': 'input-lg'}}) }}
{{ form_row(form.last_name, {'label': 'last_name', 'attr': {'class': 'input-lg'}}) }}
{{ form_row(form.email, {'label': 'email', 'attr': {'class': 'input-lg'}}) }}
{{ form_row(form.postcode, {'label': 'postcode', 'attr': {'class': 'input-lg'}}) }}
{{ form_row(form.mobile, {'label': 'mobile', 'attr': {'class': 'input-lg'}}) }}
{{ form_row(form.telephone, {'label': 'telephone', 'attr': {'class': 'input-lg'}}) }}
{#
{% set accept_label = 'register.accept'|trans({'%url%': path('terms')}) %}
{{ form_widget(form.accept, {'label': accept_label}) }}
#}
{{ form_row(form.accept) }}

{{ form_row(form.submit, {'label': 'register.submit_btn', 'attr': {'class': 'btn btn-default btn-lg'}}) }}

{{ form_end(form) }}

{{ config('registration_bottom_text', schema) }}

{% endblock inner %}

{% block summernote_js %}{% endblock %}

