{% import 'macro/asset.html.twig' as a %}
{% import 'macro/panel.html.twig' as p %}

{%- set cols = {
	'letscode': {
		'lbl': 'label.code',
		'route': 'user_show',
		'route_key': 'user',
		'route_col_id': 'id'
	},
	'name': {
		'lbl': 'label.name',
		'route': 'user_show',
		'route_key': 'user',
		'route_col_id': 'id'
	},
	'postcode': {
		'lbl': 'label.postcode',
		'hide': 'phone'
	}
}
-%}

{% import 'macro/panel.html.twig' as p %}
{% import 'macro/button.html.twig' as b %}
{% import 'macro/filter.html.twig' as fi %}

{%- set placeholder_code = config('template_lets', schema) ? 'letscode' : 'code' -%}

{{- p.form_filter_start(filter, filtered) -}}

<div class="row"><div class="col-sm-12">
    {{- form_row(filter.q, {
        'label': false,
        'addon_fa': 'search',
        'attr': {
            'placeholder': 'keyword', 
        }  
    }) -}}
</div></div>

<div class="row">
<div class="col-sm-5">
    {{- form_row(filter.from_user, {
        'label': false,
        'addon_label': 'from',
        'addon_fa': 'user',
        'attr': {
            'placeholder': placeholder_code,
        }
    }) -}}
</div>
<div class="col-sm-2">
    {{- form_row(filter.andor, {'label': false}) -}}
</div>
<div class="col-sm-5">
    {{- form_row(filter.to_user, {
        'label': false,
        'addon_label': 'to',
        'addon_fa': 'user',
        'attr': {
            'placeholder': placeholder_code,
        }
    }) -}}
</div>
</div>

<div class="row">
<div class="col-sm-5">
    {{- form_row(filter.from_date, {
        'label': false,
        'addon_label': 'from_date',
        'addon_fa': 'calendar'
    }) -}}
</div>
<div class="col-sm-5">
    {{- form_row(filter.to_date, {
        'label': false,
        'addon_label': 'to_date',
        'addon_fa': 'calendar'
    }) -}}
</div>
<div class="col-sm-2">
    {{- b.show(filter.submit) -}}
</div>
</div>

{{- fi.context(all_params) -}}
{{- p.form_end(filter) -}}






