{%- extends 'admin.html.twig' -%}

{%- import 'macro/menu.html.twig' as m -%}
{%- import 'macro/panel.html.twig' as p -%}

{%- set config_menu_en = [
  'balance_limits', 'ads', 'naming',
  'mail_addresses', 'periodic_mail', 'contact_form',
  'registration_form', 'forum', 'members', 'system'
]

%}

{%- block inner -%}

  {%- set config_lang_key = 'config.'~route[7:] -%}

  <ul class="nav nav-pills" role="tablist">

  {%- for cm in config_menu_en -%}

    {%- set c_route = 'config_'~cm -%}
    <li role="presentation"{%- if route == c_route -%} class="active"{%- endif -%}>
    <a href="{{ path(c_route, acc_sch) -}}" role="tab">
    {{- ('config.'~cm~'.menu')|trans -}}
    </a>
    </li>

  {%- endfor -%}

  </ul>

  {{- p.default() -}}
  <h3>
    {{- (config_lang_key~'.title')|trans -}}
  </h3>
  {{- p.body() -}}
  {%- block config -%}{%- endblock -%}
  {{- p.end() -}}

{%- endblock inner -%}
