{%- extends 'anon.html.twig' -%}

{%- import 'macro/button.html.twig' as b -%}
{%- import 'macro/card.html.twig' as c -%}

{%- block fa -%}key{%- endblock -%}
{%- block heading -%}
    {{- 'password_reset.title'|trans -}}
{%- endblock heading -%}

{%- block inner -%}

    <p>{{- 'password_reset.explain'|trans -}}</p>
    {{- c.form_start(form) -}}
    {{- form_row(form.email, {'label': 'label.your_email'}) -}}
    {{- b.default(form.submit, 'btn.password_reset') -}}
    {{- c.form_end(form) -}}

{%- endblock inner -%}
