{% extends 'anon.html.twig' %}

{% import 'macro/button.html.twig' as b %}
{% import 'macro/panel.html.twig' as p %}

{% block fa -%}key{%- endblock %}
{% block heading -%}{{- 'password_reset.title'|trans -}}{%- endblock heading %}

{% block inner -%}

<p>{{- 'password_reset.explain'|trans -}}</p>

{{- p.form_start(form) -}}
{{- form_row(form.email, {'label': 'label.your_email'}) -}}
{{- b.default(form.submit, 'btn.password_reset') -}}
{{- p.form_end(form) -}}

{%- endblock inner %}
