{%- extends 'anon.html.twig' -%}

{%- import 'macro/button.html.twig' as b -%}
{%- import 'macro/panel.html.twig' as p -%}
{%- import 'macro/asset.html.twig' as a -%}

{%- block js -%}
    {{- a.js('generate_password.js') -}}
{%- endblock js -%}

{%- block fa -%}key{%- endblock -%}
{%- block heading -%}
    {{- 'new_password.title'|trans -}}
{%- endblock heading -%}

{%- block inner -%}

    <p>{{- 'new_password.explain'|trans -}}</p>

    {{- p.form_start(form) -}}
    {{- form_row(form.password) -}}
    {{- b.info(form.submit, 'label.save_password') -}}
    {{- p.form_end(form) -}}

{%- endblock inner -%}
