{% extends 'user/a_index.html.twig' %}

{% import 'macro/asset.html.twig' as a %}
{% import 'macro/table.html.twig' as t %}
{% import 'macro/panel.html.twig' as p %}
{% import 'macro/top_button.html.twig' as tb %}

{% set view = 'list' %}

{%- block css -%}
	{%- include 'asset/datepicker_css.html.twig' -%}
{%- endblock css -%}

{%- block js -%}
	{%- include 'asset/datepicker_js.html.twig' -%}
	{{- a.js('csv.js') -}}
{%- endblock js -%}

{%- block csv -%}
	{{- p.csv() -}}
{%- endblock csv -%}

{%- block heading_right -%}
	{{- tb.show_columns() -}}
{%- endblock heading_right -%}

{%- block pre_inner -%}
	{%- embed 'user/column_select.html.twig' -%}
	{%- endembed -%}

	{%- embed 'user/filter_form.html.twig' -%}
	{%- endembed -%}

	{%- set nav = {
		'active': {
			'label': 'user_type.active',
			'class': '', 
		},
		'new': {
			'label': 'user_type.new',
			'class': 'bg-success',
		},
		'leaving': {
			'label': 'user_type.leaving',
			'class': 'bg-danger',
		},
		'interlets': {
			'label': 'user_type.interlets',
			'class': 'bg-warning',
		},
		'pre-active': {
			'label': 'user_type.pre_active',
			'class': 'bg-info',
		},
		'post-active': {
			'label': 'user_type.post_active',
			'class': 'bg-inactive',
		},
		'all': {
			'label': 'user_type.all',
			'class': '',
		}
	}
	-%}

    <ul class="nav nav-tabs">
    {%- for key, rec in nav -%}
        <li{%- if key == user_type %} class="active"{%- endif -%}>
            <a href="{{- path('user_index', acc_sch|merge({'view': 'list', 'user_type': key})) -}}" class="{{- rec.class -}}">
               {{- (rec.label)|trans -}} 
            </a>
        </li>
    {%- endfor -%}
    </ul>
{%- endblock pre_inner -%}

{%- block in_pagination -%}

	{%- set label_code = config('template_lets', schema) ? 'label.letscode' : 'label.code' -%}

	{%- set col_format = {
		'letscode': {
			'lbl': label_code,
			'route': 'user_show',
			'route_key': 'user',
			'route_col_id': 'id'
		},
		'name': {
			'lbl': 'label.name',
			'route': 'user_show',
			'route_key': 'user',
			'route_col_id': 'id'
		},
		'fullname': {
			'lbl': 'label.full_name',
			'route': 'user_show',
			'route_key': 'user',
			'route_col_id': 'id'
		},
		'postcode': {
			'lbl': 'label.postcode',
			'hide': 'phone'
		},
		'accountrole': {
			'lbl': 'label.role',
			'hide': 'phone'
		},
		'saldo': {
			'lbl': 'label.balance',
		},
		'minlimit': {
			'lbl': 'label.minimum_limit',
		},
		'maxlimit': {
			'lbl': 'label.maximum_limit',
		},
		'comment': {
			'lbl': 'label.comment',
		},
		'admincomment': {
			'lbl': 'label.admin_comment',
		},
		'hobbies': {
			'lbl': 'label.hobbies',
		},
		'cdate': {
			'lbl': 'label.created',
			'render': 'date',

		},
		'mdate': {
			'lbl': 'label.modified',
			'render': 'date',
		},
		'adate': {
			'lbl': 'label.activated',
			'render': 'date',
		},
		'lastlogin': {
			'lbl': 'label.last_login',
			'render': 'date',
		},
		'saldomail': {
			'lbl': 'label.periodic_mail',
			'render': 'yes_no',
		},
	}
	-%}


	{%- set table_forms = {
		'sel':	{
			'form': sel_form,
			'id': 'id'
		}
	}
	-%}

	{{- t.start() -}}
	{{- t.head(columns, col_format, route, all_params, sort) -}}
	{{- t.body(users, columns, col_format, acc_sch|merge({'user_type': user_type}), table_forms) -}}
	{{- t.end() -}}

{%- endblock in_pagination -%}

{%- block post_inner -%}
	<div class="pull-right">
		<span>{{- 'label.balance_sum'|trans({'%balance_sum%': balance_sum}) -}}</span>
	</div>
{%- endblock post_inner -%}



