{% extends 'user/a_index.html.twig' %}

{% import 'macro/asset.html.twig' as a %}
{% import 'macro/table.html.twig' as t %}
{% import 'macro/top_button.html.twig' as tb %}
{% import 'macro/button_group.html.twig' as bg %}
{% import 'macro/button.html.twig' as b %}

{% set view = 'list' %}

{%- block css -%}
	{%- include 'asset/datepicker_css.html.twig' -%}
{%- endblock css -%}

{%- block js -%}
	{%- include 'asset/datepicker_js.html.twig' -%}
{%- endblock js -%}

{%- block columns -%}
	{{- bg.columns(true, true, true, true) -}}
{%- endblock columns -%}

{%- block pre_inner -%}
	{%- embed 'user/column_select.html.twig' -%}
	{%- endembed -%}

	{%- embed 'user/filter_form.html.twig' -%}
	{%- endembed -%}

	{%- set nav = {
		'active': {
			'label': 'user_type.active',
			'class': '',
		},
		'new': {
			'label': 'user_type.new',
			'class': 'table-success',
		},
		'leaving': {
			'label': 'user_type.leaving',
			'class': 'table-danger',
		},
		'interlets': {
			'label': 'user_type.interlets',
			'class': 'table-warning',
		},
		'pre-active': {
			'label': 'user_type.pre_active',
			'class': 'table-info',
		},
		'post-active': {
			'label': 'user_type.post_active',
			'class': 'table-secondary',
		},
		'all': {
			'label': 'user_type.all',
			'class': '',
		}
	}
	-%}

    <ul class="nav nav-tabs">
		{%- for key, rec in nav -%}
			<li class="nav-item{%- if key == user_type %} active{%- endif -%}">
				<a href="{{- path('user_index', acc_sch|merge({'view': 'list', 'userType': key})) -}}" class="nav-link{%- if rec.class %} {{ rec.class -}}{%- endif -%}{%- if key == user_type %} active{%- endif -%}">
					{{- (rec.label)|trans -}}
				</a>
			</li>
		{%- endfor -%}
		<li class="nav-item{%- if user_type == 'admin_tab' %} active{%- endif -%}">
			<a href="#" class="nav-link nav-dark{%- if user_type == 'admin_tab' %} active{%- endif -%}">
				<i class="fa fa-cog"></i>
			</a>
		</li>
    </ul>

	{{- b.admin_text_edit('user_tabs') -}}

{%- endblock pre_inner -%}

{%- block in_pagination -%}

	{%- set label_code = config('template_lets', schema) ? 'label.letscode' : 'label.code' -%}

	{%- set col_format = {
		'letscode': {
			'lbl': label_code,
			'route': 'user_show',
			'route_key': 'id',
			'route_col_id': 'id'
		},
		'name': {
			'lbl': 'label.name',
			'route': 'user_show',
			'route_key': 'id',
			'route_col_id': 'id'
		},
		'fullname': {
			'lbl': 'label.full_name',
			'route': 'user_show',
			'route_key': 'id',
			'route_col_id': 'id'
		},
		'postcode': {
			'lbl': 'label.postcode',
			'hide': 'phone'
		},
		'accountrole': {
			'lbl': 'label.role',
			'hide': 'phone'
		},
		'saldo': {
			'lbl': 'label.balance',
		},
		'minlimit': {
			'lbl': 'label.minimum_limit',
		},
		'maxlimit': {
			'lbl': 'label.maximum_limit',
		},
		'comment': {
			'lbl': 'label.comment',
		},
		'admincomment': {
			'lbl': 'label.admin_comment',
		},
		'hobbies': {
			'lbl': 'label.hobbies',
		},
		'cdate': {
			'lbl': 'label.created',
			'render': 'date',

		},
		'mdate': {
			'lbl': 'label.modified',
			'render': 'date',
		},
		'adate': {
			'lbl': 'label.activated',
			'render': 'date',
		},
		'lastlogin': {
			'lbl': 'label.last_login',
			'render': 'date',
		},
		'saldomail': {
			'lbl': 'label.periodic_mail',
			'render': 'yes_no',
		},
	}
	-%}

	{%- set table_forms = {
		'sel':	{
			'form': sel_form,
			'id': 'id'
		}
	}
	-%}

	{{- t.start() -}}
	{{- t.head(columns, col_format, route, all_params, sort) -}}
	{{- t.body(users, columns, col_format, acc_sch|merge({'user_type': user_type}), table_forms) -}}
	{{- t.end() -}}

{%- endblock in_pagination -%}

{%- block post_inner -%}
	<div class="pull-right">
		<span>{{- 'label.balance_sum'|trans({'%balance_sum%': balance_sum}) -}}</span>
	</div>
{%- endblock post_inner -%}
