{% import 'macro/card.html.twig' as c %}
{% import 'macro/button.html.twig' as b %}
{% import 'macro/filter.html.twig' as fi %}

{{- c.form_filter_start(filter) -}}

<div class="row">
    <div class="col-md-10 col-sm-12">
        {{- form_row(filter.q, {
            'label': false,
            'addon_fa': 'search',
            'attr': {
                'placeholder': 'keyword',
            }
        }) -}}
    </div>
    <div class="col-md-2 hidden-sm hidden-xs">
        {{- b.show(filter.submit) -}}
    </div>
</div>

{{- fi.context(all_params) -}}
{{- c.form_end(filter) -}}
