{% extends 'app.html.twig' %}

{% import 'macro/menu.html.twig' as m %}

{% set user = 'eop-8zdoe-ep' %}

{% set menu_ary = {
  'ad': {'title': 'ad_index.title', 'fa': 'newspaper-o', 'route': 'ad_index'},
  'account': {'title': 'account_index.title', 'fa': 'circle-o', 'route': 'account_index'},
  'user': {'title': 'user_index.title', 'fa': 'user', 'route': 'user_index'},
  'transaction': {'title': 'transaction_index.title', 'fa': 'exchange', 'route': 'transaction_index'},
  'news': {'title': 'news_index.title', 'fa': 'calendar-o', 'route': 'news_index'},
  'doc': {'title': 'doc_index.title', 'fa': 'files-o', 'route': 'doc_index'},
  'forum': {'title': 'forum_index.title', 'fa': 'comments-o', 'route': 'forum_index'},
  'support': {'title': 'support.title', 'fa': 'ambulance', 'route': 'support'}
}

%}

{% set menu_left_en = [
  'ad', 'account', 'user', 'transaction', 
  'news', 'doc', 'forum', 'support'
] 

%}

{% block navbar_toggle_menu -%}

  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-   expanded="false">
    <span class="sr-only">{{ 'toggle_navigation'|trans }}</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>

{%- endblock navbar_toggle_menu %}

{% block navbar_menu -%}

  <div class="collapse navbar-collapse" id="navbar-collapse-1">
  <ul class="nav navbar-nav navbar-right">

  {% block navbar_groups %}{% endblock %}

  {% block navbar_user -%}

    {{ m.nav_dropdown('who is this', 'user') }}

    {% block navbar_user_items %}{% endblock %}

{#
		{{ menu.li(user_self_url|default('#'), 'Mijn gegevens', 'user') }} 
		{{ menu.li(messages_self_url|default('#'), 'Mijn vraag en aanbod', 'newspaper-o') }} 
		{{ menu.li(transactions_self_url|default('#'), 'Mijn transacties', 'exchange') }}
#}

    {{ m.li_302_no_param({'route': 'logout', 'fa': 'sign-out', 'title': 'logout.title'}) }}
    {{ m.nav_dropdown_end() }}

  {%- endblock navbar_user %}

  {% block navbar_admin_disabled -%}

    {# if admin then 'admin modus' link #}

  {%- endblock navbar_admin_disabled %}

  {% block navbar_admin %}{% endblock %}

  </ul>
  </div>

{%- endblock navbar_menu %}

{% block menu_left -%}

  {% for key in menu_left_en %}
    {% if menu_ary[key] is defined %}
		{{ m.li(key, menu_ary[key], active_menu, schema, access) }}
    {% endif %}
  {% endfor %}
  
{%- endblock menu_left %}
