{% import 'macro/asset.html.twig' as a %}

{% spaceless %}

<!DOCTYPE html{% block html %}{% endblock %}>
<html lang="{{ global.request.locale }}">
<head>

<title>{% block title %}eLAND{% endblock title %}</title>

{{ a.css('bootstrap/3.3.7/css/bootstrap.min.css', 'maxcdn') }}

{% block fontawesome_css %}
{{ a.css('font-awesome/4.7.0/css/font-awesome.min.css', 'maxcdn') }}
{% endblock fontawesome_css %}

{% block footable_css %}
{{ a.css('jquery-footable/2.0.3/css/footable.core.min.css', 'cdnjs') }}
{% endblock footable_css %}

{{ a.css('base.css') }}
{{ a.css('print.css', 'css', 'print') }}

{% block summernote_css %}
{{ a.css('summernote/0.8.2/summernote.css', 'cdnjs') }}
{% endblock summernote_css %}

{% block fileupload_css %}
{{ a.css('jQuery-File-Upload-9.17.0/css/jquery.fileupload.css', 'cdnjs') }}
{% endblock fileupload_css %}

{% block datepicker_css %}
{{ a.css('bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css', 'cdnjs') }}
{% endblock datepicker_css %}

{% block leaflet_css %}
{{ a.css('leaflet/1.0.3/leaflet.css', 'cdnjs') }}
{% endblock leaflet_css %}

{% block swiper_css %}
{{ a.css('Swiper/3.4.1/css/swiper.min.css', 'cdnjs') }}
{% endblock swiper_css %}

{% block css %}{% endblock css %}

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d55b5b">
<meta name="theme-color" content="#ffffff">

</head>

<body{% block body_attr %}{% endblock %}>

{% block loading_img %}
<img src="/gfx/loading.gif?v=1" class="ajax-loader">
{% endblock loading_img%}

<div class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">

<div class="navbar-header">

{% block navbar_toggle_menu %}{% endblock %}

<a href="{% block url_index %}#{% endblock %}" class="pull-left hidden-xs">
<div class="logo"></div>
</a>
<a href="{{ block('url_index') }}" class="navbar-brand">
{{ block('title') }}</a>
</div>

{% block navbar_menu %}{% endblock %}

</div>
</div>

{% block content %}{% endblock %}

{% block footer %}

<footer class="footer">

<p>{{ 'eland.explain'|trans({'%link_open%': '<a href="http://letsa.net">', '%link_close%': '</a>'})|raw }}</p>

{% block footer_extra %}{% endblock %}

</footer>

{% endblock footer %}

</div>

{% block jquery_js %}
{{ a.js('jquery-3.2.1.min.js', 'jquery') }}
{% endblock jquery_js %}

{% block bootstrap_js %}
{{ a.js('bootstrap/3.3.7/js/bootstrap.min.js', 'maxcdn') }}
{% endblock bootstrap_js %}

{% block base_js %}
{{ a.js('base.js') }}
{% endblock base_js %}

{% block typeahead_js %}
{{ a.js('typeahead.js/0.11.1/typeahead.bundle.min.js', 'cdnjs') }}
{% endblock typeahead_js %}

{% block summernote_js %}
{{ a.js('summernote/0.8.2/summernote.min.js', 'cdnjs') }}
{{ a.js('summernote/0.8.2/lang/summernote-nl-NL.min.js', 'cdnjs') }}
{% endblock summernote_js %}

{% block fileupload_js %}
{{ a.js('blueimp-file-upload/9.17.0/js/vendor/jquery.ui.widget.min.js', 'cdnjs') }}
{{ a.js('blueimp-file-upload/9.17.0/js/jquery.iframe-transport.min.js', 'cdnjs') }}
{{ a.js('blueimp-load-image/2.12.2/load-image.all.min.js', 'cdnjs') }}
{{ a.js('javascript-canvas-to-blob/3.7.0/js/canvas-to-blob.min.js', 'cdnjs') }}
{{ a.js('blueimp-file-upload/9.17.0/js/jquery.fileupload.min.js', 'cdnjs') }}
{{ a.js('blueimp-file-upload/9.17.0/js/jquery.fileupload-process.min.js', 'cdnjs') }}
{{ a.js('blueimp-file-upload/9.17.0/js/jquery.fileupload-image.min.js', 'cdnjs') }}
{{ a.js('blueimp-file-upload/9.17.0/js/jquery.fileupload-validate.min.js', 'cdnjs') }}
{% endblock fileupload_js %}

{% block footable_js %}
{{ a.js('jquery-footable/2.0.3/js/footable.min.js', 'cdnjs') }}
{{ a.js('jquery-footable/2.0.3/js/footable.sort.min.js', 'cdnjs') }}
{{ a.js('jquery-footable/2.0.3/js/footable.filter.min.js', 'cdnjs') }}
{% endblock footable_js %}

{% block jssor_js %}
{{ a.js('jssor-slider/22.1.8/jssor.slider.min.js', 'cdnjs') }}
{% endblock jssor_js %}

{% block jqplot_js %}
{{ a.js('jqPlot/1.0.9/jquery.jqplot.min.js', 'cdnjs') }}
{{ a.js('jqPlot/1.0.9/plugins/jqplot.donutRenderer.min.js', 'cdnjs') }}
{{ a.js('jqPlot/1.0.9/plugins/jqplot.cursor.min.js', 'cdnjs') }}
{{ a.js('jqPlot/1.0.9/plugins/jqplot.dateAxisRenderer.min.js', 'cdnjs') }}
{{ a.js('jqPlot/1.0.9/plugins/jqplot.canvasTextRenderer.min.js', 'cdnjs') }}
{{ a.js('jqPlot/1.0.8/plugins/jqplot.canvasAxisTickRenderer.min.js', 'cdnjs') }}
{{ a.js('jqPlot/1.0.9/plugins/jqplot.highlighter.min.js', 'cdnjs') }}
{% endblock jqplot_js %}

{% block datepicker_js %}
{{ a.js('bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js', 'cdnjs') }}
{{ a.js('bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.nl.min.js', 'cdnjs') }}
{% endblock datepicker_js %}

{% block isotope_js %}
{{ a.js('jquery.isotope/3.0.2/isotope.pkgd.min.js', 'cdnjs') }}
{{ a.js('jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js', 'cdnjs') }}
{% endblock isotope_js %}

{% block leaflet_js %}
{{ a.js('leaflet/1.0.3/leaflet.js', 'cdnjs') }}
{% endblock leaflet_js %}

{% block swiper_js %}
{{ a.js('Swiper/3.4.1/js/swiper.jquery.min.js', 'cdnjs') }}
{% endblock swiper_js %}

{% block js %}{% endblock js %}

</body>
</html>

{% endspaceless %}
