{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {%- if sub_label is defined -%}    
        &nbsp;&nbsp;<span>{{- sub_label|trans -}}</span>
        {%- endif -%}
        {{- form_widget(form) -}}          
        {{- form_errors(form) -}}
        {%- if explain is defined -%}
        <span>{{- explain|trans -}}</span>
        {%- endif -%}       
    </div>
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input-lg')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block choice_widget_collapsed -%}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' input-lg')|trim}) %}
    {{- parent() -}}
{%- endblock %}