{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {%- if sub_label is defined -%}    
        &nbsp;&nbsp;<span>{{- sub_label|trans -}}</span>
        {%- endif -%}
        {{- form_widget(form) -}}     
        {{- form_errors(form) -}}
        {%- if explain is defined -%}
        <span>{{- explain|trans -}}</span>
        {%- endif -%}       
    </div>
{%- endblock form_row %}

