{% extends 'bootstrap_3_layout.html.twig' %}

{% block form_row -%}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
        {{- form_label(form) -}}
        {%- if sub_label is defined -%}    
        &nbsp;&nbsp;<span>{{- sub_label|trans -}}</span>
        {%- endif -%}
        {{- form_widget(form) -}}          
        {{- form_errors(form) -}}
        {%- if explain is defined -%}
        <span>{{- explain|trans -}}</span>
        {%- endif -%}       
    </div>
{%- endblock form_row %}

{% block form_widget_simple -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input-lg')|trim}) -%}
    {% endif %}
    {{- parent() -}}
{%- endblock form_widget_simple %}

{% block choice_widget_collapsed -%}
    {%- set attr = attr|merge({class: (attr.class|default('') ~ ' input-lg')|trim}) -%}
    {{- parent() -}}
{%- endblock %}

{% block addon_widget -%}
    <div class="input-group">
        <span class="input-group-addon">
            {%- if addon_label is defined -%}
                {{- addon_label|trans -}}
            {%- endif -%}
            {%- if addon_fa is defined -%}
                {%- if addon_label is defined -%}&nbsp;{%- endif -%}
                <i class="fa fa-{{- addon_fa -}}"></i>
            {%- endif -%}
        </span>   
        {{- block('form_widget_simple') -}}
    </div>
{%- endblock addon_widget %}

{% block number_addon_widget -%}
    {{- block('addon_widget') -}}
{%- endblock number_addon_widget %}

{% block typeahead_widget -%}
    {%- set attr = attr|merge(typeahead_attr) -%}
    {{- block('addon_widget') -}}
{%- endblock typeahead_widget %}

{% block typeahead_user_widget -%}
    {{- block('typeahead_widget') -}}
{%- endblock typeahead_user_widget -%}

{% block datepicker_widget -%}
    {%- set attr = attr|merge({
        'data-provide': 'datepicker',
        'data-date-format': datepicker_format(),
        'data-date-default-view-date': '-1y',
        'data-date-end-date': '0d',
        'data-date-language': global.request.locale,
        'data-date-today-highlight': 'true',
        'data-date-autoclose': 'true',
        'data-date-immediate-updates': 'true',
        'data-date-orientation': 'bottom',
        'placeholder': datepicker_placeholder(),
    }) -%}     
    {%- set addon_fa = 'calendar' -%}
    {{- block('addon_widget') -}}
{%- endblock datepicker_widget %}