{% extends 'admin.html.twig' %}

{% import 'macro/button.html.twig' as b %}
{% import 'macro/panel.html.twig' as p %}

{%- block heading -%}
    {{- 'transaction_edit.title'|trans -}}
{%- endblock heading -%}

{%- block inner -%}
    <p>{{- 'transaction_edit.explain'|trans -}}</p>
    {{- p.form_start(form) -}}
    {%- embed 'transaction/item.html.twig' with {'t': form.vars.value} -%}
    {%- endembed -%}
    {{- form_row(form.description, {'label': 'label.description', 'addon_fa': 'pencil'}) -}}
    {{- b.cancel(path('transaction_show', acc_sch|merge({'id': form.vars.value.id }))) -}}
    {{- b.edit(form.submit) -}}
    {{- p.form_end(form) -}}
{%- endblock inner -%}
