{% extends 'admin.html.twig' %}

{% import 'macro/asset.html.twig' as a %}
{% import 'macro/panel.html.twig' as p %}
{% import 'macro/button.html.twig' as b %}
{% import 'macro/top_button.html.twig' as tb %}
{% import 'macro/table.html.twig' as t %}
{% import 'macro/pagination.html.twig' as pg %}

{%- block css -%}
	{%- include 'asset/datepicker_css.html.twig' -%}
{%- endblock css -%}

{%- block js -%}
	{%- include 'asset/datepicker_js.html.twig' -%}
	{{- a.js('csv.js') -}}
	{{- a.js('transaction_index.js') -}}
{%- endblock js -%}

{%- block top_buttons -%}
	{{- tb.add(path('transaction_add', acc_sch), 'transaction.title_top_btn.add') -}}
{%- endblock top_buttons -%}

{%- block csv -%}
	{{- p.csv() -}}
{%- endblock csv -%}

{%- block heading_right -%}
	<span class="pull-right">
	{{- p.filter_toggle_btn() -}}
	</span>
{%- endblock heading_right -%}

{%- block inner -%}

	{%- include 'transaction/filter_form.html.twig' -%}

	{%- set col_format = {
		'description': {
			'lbl': 'label.description',
			'route': 'transaction_show',
			'route_key': 'id',
			'route_col_id': 'id'
		},
		'amount': {
			'lbl': 'var',
			'lbl_var': config('currency', schema)	
		},
		'cdate': {
			'lbl': 'label.time',
			'hide': 'phone',
			'render': 'date'
		},
		'id_from': {
			'lbl': 'label.from', 
			'hide':'phone',
			'render': 'user'
		},
		'id_to': {
			'lbl': 'label.to', 
			'hide':'phone',
			'render': 'user'
		}
	}
	-%}

	{{- pg.pagination(route, all_params, pagination) -}}
	{{- t.start() -}}
	{{- t.head(col_format|keys, col_format, route, all_params, sort) -}}
	{{- t.body(transactions, col_format|keys, col_format, acc_sch) -}}
	{{- t.end() -}}
	{{- pg.pagination(route, all_params, pagination) -}}

{%- endblock inner -%}
