{%- import 'macro/badge.html.twig' as ba -%}
{%- import 'macro/button.html.twig' as b -%}

{%- set interlets = real_from is defined or real_to is defined -%}

<div class="panel panel-info printview">
<div class="panel-body{%- if interlets %} bg-warning{%- endif -%}">

<div class="media">
<div class="media-body">

<dl>
	<dt>{{- 'label.time'|trans -}}</dt>
	<dd>{{- t.cdate|web_date('min') -}}</dd>

	<dt>{{- 'label.amount'|trans -}}</dt>
	<dd>{{- t.amount -}}&nbsp;{{- config('currency', schema) -}}</dd>

	<dt>{{- 'label.from'|trans -}}</dt>
	<dd><i class="fa fa-user"></i>&nbsp;{{- t.id_from|web_user|raw -}}</dd>

	<dt>{{- 'label.to'|trans -}}</dt>
	<dd><i class="fa fa-user"></i>&nbsp;{{- t.id_to|web_user|raw -}}</dd>

	<dt>{{- 'label.description'|trans -}}</dt>
	<dd>{{- t.description -}}</dd>	

	<dt>{{- 'label.transaction_id'|trans -}}</dt>
	<dd>{{- t.transid -}}</dd>

<dl>

</div>
</div>
</div>
</div>
