{% extends 'admin.html.twig' %}

{% import 'macro/asset.html.twig' as a %}
{% import 'macro/panel.html.twig' as p %}
{% import 'macro/button.html.twig' as b %}
{% import 'macro/top_button.html.twig' as tb %}
{% import 'macro/table.html.twig' as t %}
{% import 'macro/pagination.html.twig' as pg %}
{% import 'macro/filter.html.twig' as fi %}

{% block css -%}
{%- include 'asset/datepicker_css.html.twig' -%}
{%- endblock css %}

{% block js -%}
{%- include 'asset/datepicker_js.html.twig' -%}
{{- a.js('csv.js') -}}
{%- endblock js %}

{% block top_buttons -%}
{{- tb.add(path('transaction_add', acc_sch), 'transaction.title_top_btn.add') -}}
{%- endblock top_buttons -%}

{%- block top_right -%}
{{- p.csv() -}}
{%- endblock -%}

{% block inner -%}

{%- set placeholder_code = config('template_lets', schema) ? 'letscode' : 'code' -%}

{{- p.form_filter_start(filter) -}}

<div class="row"><div class="col-sm-12">
    {{- form_row(filter.q, {
        'label': false,
        'addon_fa': 'search',
        'attr': {
            'placeholder': 'keyword', 
        }  
    }) -}}
</div></div>

<div class="row">
<div class="col-sm-5">
    {{- form_row(filter.from_user, {
        'label': false,
        'addon_label': 'from',
        'addon_fa': 'user',
        'attr': {
            'placeholder': placeholder_code,
        }
    }) -}}
</div>
<div class="col-sm-2">
    {{- form_row(filter.andor, {'label': false}) -}}
</div>
<div class="col-sm-5">
    {{- form_row(filter.to_user, {
        'label': false,
        'addon_label': 'to',
        'addon_fa': 'user',
        'attr': {
            'placeholder': placeholder_code,
        }
    }) -}}
</div>
</div>

<div class="row">
<div class="col-sm-5">
    {{- form_row(filter.from_date, {
        'label': false,
        'addon_label': 'from_date',
        'addon_fa': 'calendar'
    }) -}}
</div>
<div class="col-sm-5">
    {{- form_row(filter.to_date, {
        'label': false,
        'addon_label': 'to_date',
        'addon_fa': 'calendar'
    }) -}}
</div>
<div class="col-sm-2">
    {{- b.show(filter.submit) -}}
</div>
</div>

{{- fi.context(all_params) -}}
{{- p.form_end(filter) -}}

{%- set cols = {
	'description': {
		'lbl': 'description',
		'route': 'transaction_show',
		'route_key': 'transaction',
		'route_col_id': 'id'
	},
	'amount': {
		'lbl': 'amount'	
	},
	'cdate': {
		'lbl': 'time',
		'hide': 'phone',
		'render': 'date'
	},
	'id_from': {
		'lbl': 'from', 
		'hide':'phone',
        'render': 'user'
	},
	'id_to': {
		'lbl': 'to', 
		'hide':'phone',
        'render': 'user'
	}
}
-%}

{{- pg.pagination(route, all_params, pagination) -}}
{{- t.start() -}}
{{- t.head(cols, route, all_params, sort) -}}
{{- t.body(transactions, cols, acc_sch) -}}
{{- t.end() -}}
{{- pg.pagination(route, all_params, pagination) -}}

{%- endblock inner %}


