{%- extends 'admin.html.twig' %}

{%- import 'macro/asset.html.twig' as a %}
{%- import 'macro/top_button.html.twig' as tb %}

{%- block top_buttons -%}
	{{- tb.add(path('doc_add', acc_sch|merge({'mapId': map_id})), 'doc.title_top_btn.add') -}}
{%- endblock top_buttons -%}

{%- block heading -%}
    {{- 'doc_map_index.title'|trans({'%name%': map_name}) -}}
{%- endblock heading -%}

{%- block inner -%}

    {%- embed 'doc/doc_list.html.twig' -%}
        {%- import 'macro/button.html.twig' as b -%}
        {%- import 'macro/badge.html.twig' as ba -%}
        {%- block table_head_extra -%}
    	    <th data-hide="phone, tablet">{{- 'label.access'|trans -}}</th>
            <th data-hide="phone, tablet" data-sort-ignore="true"></th>
        {%- endblock table_head_extra -%}
        {%- block table_body_extra -%}
		    <td>{{- ba.badge(d.access) -}}</td>
            <td>
            {{- b.edit_link(path('doc_edit', acc_sch|merge({'id': d.id}))) -}}&nbsp;
            {{- b.del_link(path('doc_del', acc_sch|merge({'id': d.id}))) -}}
            </td>
        {%- endblock table_body_extra -%}
    {%- endembed -%}

{%- endblock inner -%}
